@import 'src/app/shared/styles/styles';

.course {
 min-width: 60vw;

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & input {
      flex: 1;
    }

    & app-button {
      margin-left: 16px;
    }

    & .course__duration {
      margin-left: 16px;
    }
  }

  &__authors {
    margin-top: 8px;
    display: flex;

    &-item {
      margin-right: 10px;
      display: flex;
      flex-direction: row;

      &-cancel {
        margin-left: 20px;
      }
    }
  }

  &__icon {
    margin-left: 4px;
    cursor: pointer;
  }
}

.form{
  &__control {
    flex: 1;
    display: flex;
    flex-direction: column;
    &__input {
      // width: 250px;
      min-height: 20px;
      padding: 5px;
      margin-bottom: 5px;
    }
  }

  &__action {
    display: flex;
    flex-direction: row;
    justify-content: end;

    &-button {
      margin-left: 20px;
    }
  }
}

.invalid-feedback {
  color: red;
}

.is-invalid {
  border: red 2px solid;
}